<h1>Editing Message</h1>
<%#= render 'form', Message:@message %>
<!--<p>标题：<%#@message.title%></p>-->

<%= form_for @message, url: {action: "update"} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, cols: 120, rows: 10 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%#= link_to 'Show', @message %>
<%#= link_to 'Back', topic_path(@topic) %>